﻿#ad1 {
    max-width: 728px;
    padding: 15px 0px 25px;
}
#ad3 {
    max-width: 320px;
    padding: 0px 0px 15px;
    display: none;
}
#ad4 {
    display:none;
}
#ad2 {
    display: none;
}

@media(max-width:800px) {
    #ad1 {
        display:none;
    }
    #ad3 {
        display: block;
    }
}
@media(max-width:500px) {
    #ad2 {
        display: block;
        max-width: 300px;
        padding: 5px 0 15px;
    }
    .section2 {
        width: 98%;
    }
}

@media(max-width:350px) {
    #ad3 {
        display: none;
    }
    #ad4 {
        display: block;
        max-width: 300px;
        padding: 5px 0 15px;
    }

}
