﻿body {
}

.jobs_title {
    font-size: 49px;
    color: #1a6e93;
    font-weight: normal;
}

#jobs .job {
    font-size: 14px;
    line-height: 16px;
}

    #jobs .job .title {
        font-family: Arial;
        font-weight: bold;
        font-size: 19px;
        color: #36679e;
        padding-bottom: 10px;
    }

    #jobs .job .title a {
        color: inherit;
        text-decoration: none;
    }

    #jobs .job.img {
        width: 50%;
        max-width: 200px;
    }

    #jobs .job .img img {
        width: 100%;
        margin: unset;
    }

    #jobs .job .description {
        width: 100%;
        padding-bottom: 10px;
    }

    #jobs .job .button {
        font-size: 14px;
        font-weight: bold;
        padding: 5px 0;
    }

    #jobs .job .button a {
        color: #1f73b4;
    }

    #jobs .job .expire {
        font-size: 12px;
        color: #333333;
        float: right;
        width: 420px;
        padding-bottom: 6px;
    }

    #jobs hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #1a6e93;
        margin: 1em 0;
        padding: 0;
    }

#poPrevNext .prev {
    float: left;
    text-align: left;
}

#poPrevNext .next {
    float: right;
    text-align: right;
}

#poPrevNext .all {
    text-align: center;
    font-family: Arial;
}

#poPrevNext .lnk {
    display: block;
    margin: 0 auto;
    position: relative;
    color: #1a6e93;
    font-family: HelveticaThin;
    font-size: 25px;
    font-weight: bold;
}

    #poPrevNext .lnk div {
        float: left;
        position: relative;
        transform: translateY(-50%);
        padding: 0 2px;
    }

    #poPrevNext .lnk a {
        color: inherit;
    }

    #poPrevNext .lnk img {
        width: 65px;
    }

@media (min-width:500px) {
    #jobs .job .img {
        float: left;
        width: 25.5%;
    }

    #jobs .job .description {
        float: right;
        width: 68%;
    }
}
