﻿body {
}

.clear{
    clear:both;
}

.Settlements{
    border-bottom: solid 1px;
    margin-bottom: 16px;
    overflow:hidden;
}

.Settlementtitle{
    float:left;
    width: 80%;
    margin-top: unset;
}

.Settlementsort{
    float:right;
    margin-bottom: 2px;
}

.Settlementsort select{
    border: solid #2a7ea3 1px;
    padding: 8px 10px;
}

#coupons hr {
    display: block;
    height:1px;
    border:none;
    background-color: #9a9a9a;
    margin: 10px;
}

#coupons .coupon {
    font-size:14px;
    line-height:16px;
    color: #676767;
    text-align: center;
}

#coupons .coupon .title {
    font-weight:700;
    font-size:19px;
    color:#0eb2c3;
    padding-bottom: 16px;
}

    #coupons .coupon .title a {
        color: inherit;
    }

#coupons .coupon .img {
    width:160px;
}

#coupons .coupon .img img {
    width:100%;
}

#coupons .coupon .desc {
    max-width:610px;
    padding-left: 10px;
    text-align:left;
}

#coupons .coupon .desc .description {
    padding-bottom:10px;
    color: #333333;
    font-size:14px;
}

#coupons .coupon .desc .button {
    max-width: 129px;
}

#coupons .coupon .desc .expire {
    font-size:12px;
    color: #333333;
    padding-bottom:3px;
    font-style:italic
}

#poPrevNext .prev {
    float:left;
    text-align:left;
}
#poPrevNext .next {
    float:right;
    text-align:right;
}
#poPrevNext .all {
    text-align:center;
    font-family: Arial;
}

#poPrevNext .lnk {
    display: block;
    margin: 0 auto;
    position: relative;
    color:#1a6e93;
    font-family: Arial;
    font-size: 22px;
    font-weight: bold;
}

    #poPrevNext .lnk div {
        float:left;
        position: relative;
        transform: translateY(-50%);
        padding: 0 2px;
    }

    #poPrevNext .lnk a {
        color: inherit;
    }

    #poPrevNext .lnk img {
        width:65px;
    }

#topcoupon .title {
        padding-top:10px;
        font-family:Arial;
        font-weight:bold;
        font-size:24px;
        line-height:24px;
        color:#1a6e93;
    }

        #topcoupon .title a {
            color:inherit;
        }

    #topcoupon .date {
        font-size:12px;
        color: #333333;
    }

    #topcoupon .button {
        text-align:center;
        padding:25px;
    }

        #topcoupon .button a {
            padding: 1% 12%;
            background: #00cf45;
            color: #FFF;
            font-size:24px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            border: solid 1px #20538D;
            text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
            -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
            -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
            box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
            -webkit-transition-duration: 0.2s;
            -moz-transition-duration: 0.2s;
            transition-duration: 0.2s;

            background-image: -webkit-gradient(linear, left top, left bottom,
            from(#00cc33), to(#009a01) ); /* for Chrome + Safari */
            background-image: -moz-linear-gradient(  top,
            #00cc33, #009a01 ); /* for Firefox */
        }
        #topcoupon .button a:hover, #topcoupon .button a:focus {
            background: #009a01;
            border: solid 1px #2A4E77;
            text-decoration: none;

            background-image: -webkit-gradient(linear, left top, left bottom,
            from(#009a01), to(#006001) ); /* for Chrome + Safari */
            background-image: -moz-linear-gradient(  top,
            #009a01, #006001 ); /* for Firefox */
        }
        #topcoupon .button a:active {
            -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
            -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
            box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
            background: #00f43c;
            border: solid 1px #203E5F;

            background-image: -webkit-gradient(linear, left top, left bottom,
            from(#00df38), to(#00cc33) ); /* for Chrome + Safari */
            background-image: -moz-linear-gradient(  top,
            #00df38, #00cc33 ); /* for Firefox */
        }

    #topcoupon .image {
        text-align:center;
    }
    #topcoupon .image img {
        max-width: 160px;
    }
    #topcoupon .imagehp img {
    }

    #topcoupon .text {
        width: 80%;
    }

    #topcoupon .tags {
        font-size:12px;
    }

@media (min-width:1253px) {
    #coupons .coupon {
        text-align: left;
    }

        #coupons .coupon .img {
            float: left;
        }

        #coupons .coupon .desc {
            float: left;
        }

            #coupons .coupon .desc .button {
                margin: 0;
            }
}