﻿#nav, .nav, #nav .nav li {
    margin: 0px;
    padding: 0px;
}
#nav {
    width: 100%;
}

#nav li {
    float: left;
    display: inline-block;
    cursor: pointer;
    list-style: none;
    padding: 0;
    border: none;
    /*position: relative;*/
}


#nav li ul.first {
    left: -1px;
    top: 100%;
    border:none;
    border: solid 1px;
}

li, li a {
    color: #000;
    text-decoration: none;
}

#nav .nav li {
    width: 100%;
    text-indent: 10px;
    line-height: 30px;
    margin-right: 10px;
    border: none;
    background-color: #384260;
    color:#fff;
    font-weight:bold;
    font-family:Arial;
}

    #nav .nav li:hover > a, #nav .nav li:hover {
        color: #384260;
        background-color: #e59a13;
    }

#nav li a {
    display: block;
    width: 100%;
    height: inherit;
    color: #fff;
}

ul.nav {
    display: none;
}

#nav li:hover > a, #nav li:hover {
    color: #fff;
    background: #000;
}

#nav li > a span {
    height: 42px;
    line-height: 42px;
    text-align: center;
    font-family: Arial;
    font-weight: bold;
    font-size: 18px;
    color: white;
    display: inline-block;
    background-color: #1d2f4c;
    width: 100%;
}

#nav li.menuContent {
    width:15%;
}
#nav li.menuReports {
    width:15%;
}
#nav li.menuSpace {
    width:55%;
}
#nav li.menuLogout {
    width:15%;
}

/*
#nav li.menuHome > a span {
    background-image:url(../images/buttons/Home.png);
}
#nav li.menuHome:hover > a span {
    background-image:url(../images/buttons/Home_2.png);
    background-color: #fff;
}
#nav li.menuPreconception > a span {
    background-image:url(../images/buttons/Preconception.png);
}
#nav li.menuPreconception:hover > a span {
    background-image:url(../images/buttons/Preconception_2.png);
    background-color: #fff;
}
#nav li.menuPregnancy > a span {
    background-image:url(../images/buttons/Pregnancy.png);
}
#nav li.menuPregnancy:hover > a span {
    background-image:url(../images/buttons/Pregnancy_2.png);
    background-color: #fff;
}
#nav li.menuBaby > a span {
    background-image:url(../images/buttons/Baby.png);
}
#nav li.menuBaby:hover > a span {
    background-image:url(../images/buttons/Baby_2.png);
    background-color: #fff;
}
#nav li.menuToddler > a span {
    background-image:url(../images/buttons/Toddler.png);
}
#nav li.menuToddler:hover > a span {
    background-image:url(../images/buttons/Toddler_2.png);
    background-color: #fff;
}
#nav li.menuBlogs > a span {
    background-image:url(../images/buttons/Blogs.png);
}
#nav li.menuBlogs:hover > a span {
    background-image:url(../images/buttons/Blogs_2.png);
    background-color: #fff;
}
#nav li.menuDaddy > a span {
    background-image:url(../images/buttons/DaddysCorner.png);
}
#nav li.menuDaddy:hover > a span {
    background-image:url(../images/buttons/DaddysCorner_2.png);
    background-color: #fff;
}
*/
li:hover > .nav {
    display: block;
    position: absolute;
    width: 200px;
    top: -2px;
    left: 50%;
    z-index: 1000;
    border: 1px #000 solid;
}

li:hover {
    position: relative;
    z-index: 2000;
}
